<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature android:name="android.hardware.bluetooth_le" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FreaksLabor">
        <service
            android:name=".MessagingService"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
            <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/logoforeground"/>

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/white"/>
        </service>


        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyCE0jSN2rHU4d0-Fwxn4Wff0rXRrcXtwvU" />

        <activity
            android:name=".profileActivity"
            android:exported="true"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.FreaksLabor.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".setup"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ownprofile"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SpotifyLogin"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="true"
            android:supportsPictureInPicture="true"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>